.sceneGrid {
    width: 100%;
}

.sceneGridRow {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(8, 12.5%);

    & > div {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;

        &:hover {
            opacity: .8;
        }

        &::after {
            background-color: #000;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            left: 100%;
            top: 100%;
            width: 1px;
            z-index: 10;
        }

        &::before {
            content: '';
            display: block;
            height: 0;
            padding-bottom: 100%;
        }

        &:nth-child(8n) {

            &::after {
                display: none;
            }
        }
    }
}
