.sceneGrid {
    width: 100%;
}

.sceneGridRow {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(8, 12.5%);

    & > div {
        align-items: center;
        display: flex;
        justify-content: center;

        &:hover {
            opacity: .8;
        }
    }
}

/* GRID LINES */
/* .sceneGridRow > div::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
} */
