$brinstar: (
  name: 'Brinstar',
  id: 'brinstar',
  colors: (
    #4040FF,
    #4090C0,
    #A0FFF0,
    #5080FF,
    #60A0FF,
    #000000,
    #002850,
    #084858,
    #386838,
    #48A848,
    #88D848,
    #7F7F7F,
    #BCBCBC,
    #FFFFFF,
    #784000,
    #C07000,
  ),
);
