$sky-high: (
  name: 'Sky High',
  id: 'sky-high',
  colors: (
    #b1c3d3,
    #c3d7e8,
    #d6edff,
    #acd7ec,
    #9cb6db,
    #94a6d2,
    #909ece,
    #8e9acc,
    #ebccd4,
    #f5dae1,
    #ffe7ee,
    #f7ccdd,
    #efc2c8,
    #ebbbbb,
    #edc1c1,
    #efc7c7,
  ),
);
