$brinstar-2: (
    name: 'Brinstar 2',
    id: 'brinstar-2',
    colors: (
        #000000,
        #E05000,
        #784000,
        #FFA000,
        #C07000,
        #E8D020,
        #50A000,
        #784000,
        #FFA000,
        #4060F8,
        #4040FF,
        #60A0FF,
        #FFFFFF,
        #70F040,
        #7F7F7F,
        #BCBCBC
    )
);
