$brinstar: (
    name: 'Brinstar',
    id: 'brinstar',
    colors: (
        #4040FF,
        #4090C0,
        #A0FFF0,
        #5080FF,
        #60A0FF,
        #000000,
        #7F7F7F,
        #BCBCBC,
        #FFFFFF,
        #784000,
        #C07000,
        #E8D020,
        #E05000,
        #FFA000,
        #FFF090,
        #D84060
    )
);
