$default: (
    name: 'Default',
    id: 'default',
    colors: (
        #02525b,
        #155861,
        #2a636b,
        #3c6e75,
        #4a777e,
        #578087,
        #648a90,
        #74969b,
        #83a1a6,
        #93adb1,
        #a5bbbe,
        #b7c8cb,
        #cad6d8,
        #dfe6e8,
        #f4f7f7,
        #ffffff,
    )
);
