@import './palette_default';
@import './palette_ff-nes';
@import './palette_sky-high';
@import './palette_brinstar';
@import './palette_brinstar-2';
@import './palette_zx';
@import './palette_generic';
@import './palette_pico-8';

$palettes: (
  $default,
  $ff-nes,
  $sky-high,
  $brinstar,
  $brinstar-2,
  $zx,
  $generic,
  $pico-8,
);

$default-colors: (
  #101128,
  #242559,
  #2f3072,
  #3a3b8d,
  #4547a8,
  #5153c4,
  #5d5fe1,
  #6c6ff1,
  #7f81f3,
  #9293f4,
  #a4a5f5,
  #b6b7f7,
  #c8c9f9,
  #dadafa,
  #ececfc,
  #ffffff,
);

.palette {

  @for $i from 1 through length($default-colors) {
    @if $i < 11 {
      .color--0#{$i - 1} {
        background-color: #{nth($default-colors, $i)};
      }
    } @else {
      .color--#{$i - 1} {
        background-color: #{nth($default-colors, $i)};
      }
    }
  }
}

@each $palette in $palettes {
  $id: map-get($palette, "id");
  $name: map-get($palette, "name");
  $colors: map-get($palette, "colors");

  .palette--#{$id} {

    @for $i from 1 through length($colors) {
      @if $i < 11 {
        .color--0#{$i - 1} {
          background-color: #{nth($colors, $i)};
        }
      } @else {
        .color--#{$i - 1} {
          background-color: #{nth($colors, $i)};
        }
      }
    }
  }
}

.palette-selector {

  .color {

    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 0;
      padding-bottom: 100%;
    }
  }
}
