$zx: (
  name: 'ZX',
  id: 'zx',
  colors: (
    #000000,
    #0000ee,
    #ee0000,
    #ee00ee,
    #00ee00,
    #00eeee,
    #eeee00,
    #eeeeee,
    #000000,
    #0000ff,
    #ff0000,
    #ff00ff,
    #00ff00,
    #00ffff,
    #ffff00,
    #ffffff,
  ),
);
