$ff-nes: (
  name: 'FF NES',
  id: 'ff-nes',
  colors: (
    #ffffff,
    #747474,
    #000000,
    #183c5c,
    #008088,
    #3cbcfc,
    #00e8d8,
    #9cfcf0,
    #009400,
    #8000F0,
    #d82800,
    #e75f13,
    #f8b800,
    #f0d0b0,
    #887000,
    #af7f00,
  ),
);
