.sprite {
    transition: all 200ms ease;
}

/* .sprite--r0 {
    transform: rotate(0deg);
}

.sprite--r1 {
    transform: rotate(90deg);
}

.sprite--r2 {
    transform: rotate(180deg);
}

.sprite--r3 {
    transform: rotate(270deg);
} */
